/*Create my own style.css or bootstrap or both? */

.EvoStone {

    width: 5%;
    height: 5%;


}

.instructions {
    background-image: url(http://orig09.deviantart.net/5d93/f/2011/345/1/b/pokeball_vector_by_mangotangofox-d4ivdg0.png);
    background-size: 98px 98px;

    padding: 50px;
}

